<div class="ads-block">
    <!-- Ads-Block -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4136501395952974"
         data-ad-slot="5270080036"
         data-ad-format="auto"
         data-full-width-responsive="true">
    </ins>
</div>
