<script type="text/javascript" src="/js/vue.min.js" id="vue-core-js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div class="page-content-listing item-default" id="loop-listing">
    <div
            v-for="(group, index) in listStories"
            :key="index"
            class="page-listing-item"
    >
        <div class="row row-eq-height">
            <div v-for="(item, index2) in group" :key="index2" class="col-12 col-md-6">
                <div class="page-item-detail text">
                    <div class="item-thumb hover-details c-image-hover">
                        <a :href="`/truyen-tranh/${item.story.slug}.${item.story._id}`" :title="item.story.title">
                            <img
                                    width="110"
                                    height="150"
                                    v-bind:data-src="item.story.avatar"
                                    data-sizes="(max-width: 110px) 100vw, 110px"
                                    class="img-responsive effect-fade lazyload"
                                    src="https://live.mangabooth.com/wp-content/uploads/2017/10/wallhaven-550105-110x150.jpg"
                                    style="padding-top:150px;"
                                    alt="wallhaven-550105"
                            />
                        </a>
                    </div>
                    <div class="item-summary">
                        <div class="post-title font-title">
                            <h3 class="h5">
                                <a :href="`/truyen-tranh/${item.story.slug}.${item.story._id}`" :title="item.story.title">
                                    {{ item.story.title }}
                                </a>
                            </h3>
                        </div>
                        <div class="meta-item rating">
                            <div class="post-total-rating allow_vote">
                                <i class="ion-ios-star ratings_stars rating_current"></i>
                                <i class="ion-ios-star ratings_stars rating_current"></i>
                                <i class="ion-ios-star ratings_stars rating_current"></i>
                                <i class="ion-ios-star ratings_stars rating_current"></i>
                                <i class="ion-ios-star-half ratings_stars rating_current_half"></i>
                                <span class="score font-meta total_votes">4.3</span>
                            </div>
                        </div>
                        <div class="list-chapter">
                            <div
                                    v-for="(chapter, index2) in item.chapters"
                                    :key="index2"
                                    class="chapter-item"
                            >
                                        <span class="chapter font-meta">
                                            <a
                                                    href="/truyen-tranh/thieu-nien-rac-roi.11/bonus-9-tro-choi-ma-soi.284"
                                                    class="btn-link"
                                            >
                                                {{ chapter.name }}
                                            </a>
                                        </span>
                                <span class="post-on font-meta">
                                   {{ moment(chapter.createdAt).locale('vi').format('ll') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation-ajax">
        <a
                href="javascript:void(0)"
                id="navigation-ajax"
                class="btn btn-default load-ajax"
                :class="{
                    'show-loading': isLoading
                }"
                @click="getStories()"
        >
            <div class="load-title">
                XEM THÊM
                <i class="icon ion-md-arrow-dropdown"></i>
            </div>
            <div></div>
            <div></div>
            <div></div>
        </a>
    </nav>
</div>
<script>
    const vm = new Vue({
        el: '#loop-listing',
        data() {
            return {
                isLoading: false,
                page: 1,
                stories: []
            }
        },
        computed: {
            listStories() {
                const list = []
                for (let index = 0; index < this.stories.length / 2; index++) {
                    list.push(this.stories.slice(index * 2, index * 2 + 2))
                }
                return list
            }
        },
        methods: {
            async getStories() {
                this.isLoading = true
                try {
                    const {data} = await axios.get(
                        `<%= endpoint %>`,
                        {
                            params: {
                                order: '<%= order %>',
                                page: this.page,
                                limit: 8
                            }
                        }
                    )
                    if (data.length) {
                        this.stories.push(...data)
                    }
                } catch (e) {
                }
                this.isLoading = false
            }
        }
    })
</script>